body {
  background-image: url("./assets/PokemonsContorno.png");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: repeat-y;
}

.logo {
  width: 40%;
  margin: 2% 30%;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.button {
  border: 2px solid #9469f093;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  display: inline;
  font-family: "Play", sans-serif;
  font-size: 30px;
  width: 15%;
  text-align: center;
}

.button:hover {
  background-color: #d5a7e0ad;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  border: 2px solid #9469f093;
  background-color: rgba(255, 255, 255, 0.856);
  width: 80%;
  border-radius: 10px;
  font-family: "Play", sans-serif;
  text-align: center;
  margin-top: 2%;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 220px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.973);
  margin: 12px;
  border: 2px solid #9469f093;
  border-radius: 6%;
}

.img {
  margin-top: 2%;
}

.box {
  display: flex;
  justify-content: space-around;
}

.number {
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
  width: 20%;
}

.all-type {
  display: flex;
  justify-content: space-around;
  width: auto;
}

.name {
  margin: 0;
  font-size: 30px;
}

.Grass {
  background-color: #10db0c;
  border-radius: 8px;
  margin: 2px;
}

.Poison {
  background-color: #9d00fd;
  border-radius: 8px;
  margin: 2px;
}

.Fire {
  background-color: #ff0f0f;
  border-radius: 8px;
  margin: 2px;
}

.Flying {
  background-color: #0cdbb6;
  border-radius: 8px;
  margin: 2px;
}

.Water {
  background-color: #4d49ff;
  border-radius: 8px;
  margin: 2px;
}

.Bug {
  background-color: #00890e;
  border-radius: 8px;
  margin: 2px;
}

.Normal {
  background-color: #a3a3a3;
  border-radius: 8px;
  margin: 2px;
}

.Electric {
  background-color: #f1f510;
  border-radius: 8px;
  margin: 2px;
}

.Ground {
  background-color: #ffb526;
  border-radius: 8px;
  margin: 2px;
}

.Fighting {
  background-color: #ff5621;
  border-radius: 8px;
  margin: 2px;
}

.Psychic {
  background-color: #ff49cc;
  border-radius: 8px;
  margin: 2px;
}

.Rock {
  background-color: #c57b26;
  border-radius: 8px;
  margin: 2px;
}

.Ice {
  background-color: #80d1ff;
  border-radius: 8px;
  margin: 2px;
}

.Ghost {
  background-color: #6c5f76;
  border-radius: 8px;
  margin: 2px;
}

.Dragon {
  background-color: #d11a1a;
  border-radius: 8px;
  margin: 2px;
}

footer {
  background-color: #9469f080;
  width: 100%;
  height: 8%;
  bottom: 0;
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 120%;
  margin-top: 2%;
}
