body {
  background-image: url("./assets/PokemonsContorno.png");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: repeat-y;
}

.logo {
  width: 40%;
  margin: 2% 30%;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.button {
  border: 2px solid #9469f093;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  display: inline;
  font-family: "Play", sans-serif;
  font-size: 25px;
  width: 15%;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  border: 2px solid #9469f093;
  background-color: rgba(255, 255, 255, 0.856);
  width: 80%;
  border-radius: 20px;
  font-family: "Play", sans-serif;
  text-align: center;
  margin-top: 2%;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 220px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.973);
  margin: 12px;
  border: 2px solid #9469f093;
  border-radius: 6%;
}

.img {
  margin-top: 2%;
}

.box {
  display: flex;
  justify-content: space-around;
}

.number {
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
  width: 20%;
}

.all-type {
  display: flex;
  justify-content: space-around;
  width: auto;
}

.name {
  margin: 0;
  font-size: 30px;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #ececece8;
  margin: auto;
  padding: 0;
  width: 30%;
  border: 2px solid #9469f093;
  border-radius: 10%;
  font-family: "Play", sans-serif;
}

.img-modal {
   width: 30%;
}

.Grass {
  background-color: #10db0c;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Poison {
  background-color: #9d00fd;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Fire {
  background-color: #ff0f0f;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Flying {
  background-color: #0cdbb6;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Water {
  background-color: #3430f8;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Bug {
  background-color: #00890e;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Normal {
  background-color: #a3a3a3;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Electric {
  background-color: #f1f510;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Ground {
  background-color: #ffb526;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Fighting {
  background-color: #ff5621;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Psychic {
  background-color: #ff49cc;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Rock {
  background-color: #c57b26;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Ice {
  background-color: #80d1ff;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Ghost {
  background-color: #6c5f76;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

.Dragon {
  background-color: #d11a1a;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 4px;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .button {
    width: 30%;
  }
  .container {
    width: 90%;
  }

  .card {
    width: 25%;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .logo {
    width: 80%;
    margin: 1% 10%;
  }

  .menu {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .button {
    font-size: 20px;
    width: 80%;
    margin: auto;
  }

  .card {
    width: 90%;
  }
}

footer {
  background-color: #9469f080;
  width: 100%;
  height: 8%;
  bottom: 0;
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 120%;
  margin-top: 2%;
}
